/*
  Media query breakpoints.
  Processed by postcss/postcss-custom-media.
*/

/* Navigation related breakpoints */

/* Grid related breakpoints */

/* Grid shifts from 6 to 14 columns. */

/* Width of the entire grid maxes out. */

/*
  Custom CSS properties.

  These are "compiled" by postcss/postcss-custom-properties for IE11 compatibility.
*/

:root {

  /* Typography */

  /* Layout */


    /* Layout helpers */
  /* --site-header-height-wide: var(--sp10); */

  /* Drupal administrative toolbar heights and width. */

  /*
    Grid helpers.

    These variables help authors apply widths and negative margins to break items out of
    the grid, while still conforming to the larger grid system.

    Note we cannot change the values of these custom properties within media queries,
    as they are processed by postcss/postcss-custom-properties (for IE11 compatibility),
    which does not support that functionality. Therefore, we need a separate custom
    property for each breakpoint. 😭
  */ /* Approximate width of a scrollbar. Doesn't have to be perfect. */

  /* Grid gap across various breakpoints. */

  /* Column counts at various breakpoints. */

  /* Count of grid-gaps at various breakpoints. */

  /* Width of the entire grid at various breakpoints. */

  /* Width of a grid column at various breakpoints */

  /* Colors */ /* Black */ /* Black 1 */ /* Black 2 */ /* Black 3 */ /* Gray Dark */ /* Gray Dark 2 */ /* Gray medium */ /* Gray medium 1 */ /* Gray medium 2 */ /* Black 4 */ /* Gray light */ /* Gray light 1 */ /* Gray light 2 */ /* Blue dark */ /* Blue dark 2 */ /* Blue medium */ /* Blue bright */ /* Blue bright 5 */ /* White */ /* Red */ /* Gold */ /* Green - Grass */ /* Green - Ivy */ /* Purple - Grape */ /* Purple - Grape Hover */ 
   /* --color--green: #3fa21c;  Default Olivero Green */
 
  /* Header */

  /* Width of slide out navigation */

  /* Border radius */
}

@font-face {
  font-family: Lato-regular;
  src: url('../fonts/lato-regular-webfont.woff2') format('woff2');
}

@font-face {
  font-family: Lato-bold;
  src: url('../fonts/lato-bold-webfont.woff2') format('woff2');
}

@font-face {
  font-family: Lato-italic;
  src: url('../fonts/lato-italic-webfont.woff2') format('woff2');
}

@font-face {
  font-family: Barlow;
  src: url('../fonts/Barlow-Bold-webfont.woff') format('woff');
}

@font-face {
  font-family: Alice;
  src: url('../fonts/alice-regular-webfont.woff2') format('woff2');
}

h1, h2, h3, h4, h5, h6, header nav {
    font-family: Barlow, sans-serif;
}

.breadcrumb__link {
    color: #3E7054;
}

a.breadcrumb__link:hover {
    color: #5C9575;
}

a.secondary-nav__menu-link:hover {
    color: #5C9575;
}

/* From text-content.pcss.css */

/* not sure how the pseudo class is getting added so I'm delaring it here */

.text-content a:not(.button), .cke_editable a:not(.button) {
    color: #3E7054;
    -webkit-text-decoration-color: #3E7054;
            text-decoration-color: #3E7054;
    text-decoration-thickness: 2px;
    word-wrap: break-word;
  }

@supports (box-shadow: none) {

.text-content a:not(.button), .cke_editable a:not(.button) {
      transition: box-shadow 0.3s cubic-bezier(0.55, 0.085, 0, 0.99);
      text-decoration: none;
      box-shadow: inset 0 -2px 0 0 #3E7054;
  }

      .text-content a:not(.button):hover, .cke_editable a:not(.button):hover {
        text-decoration: underline;
        color: #000;

        box-shadow: inset 0 -2em 0 0 #9EC9B1;
        -webkit-text-decoration-color: #9EC9B1;
                text-decoration-color: #9EC9B1;
      }
    }

/* From text-content.pcss.css, reduce margin between p tags. */

@media (min-width: 700px) {

.text-content p, .cke_editable p {
      margin-top: 18px;
      margin-bottom: 18px;
  }
    }

#block-walnut-page-title {
  margin-bottom: 2rem;
  }

/**
 * @file
 * Base Layout.
 */

.container {
  width: 100%;
  max-width: 1350px;
  padding-left: 18px;
  padding-right: 18px;
}

@media (min-width: 1200px) {

.container {
    padding-left: calc(2 * 18px);
    padding-right: calc(2 * 18px);
}
  }

.region > #block-walnut-breadcrumbs {
  margin-bottom: 3rem;
  grid-column: 1 / 13;
}

@media (min-width: 1000px) {

.region > #block-walnut-breadcrumbs {
    grid-column: 2 / 13;
}
  }

@media (min-width: 1200px) {

.region > #block-walnut-breadcrumbs {
    grid-column: 1 / 13;
}
  }

.page-wrapper {
  max-width: 1570px;
  background: #fff;
  margin: 0 auto;
}

/* Contains the social sidebar, and the primary content area. */

@media (min-width: 1200px) {

.layout-main {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}
  }

@media (min-width: 1200px) {

.main-content {
    width: calc(100% - 90px);
    margin: 0 auto;
}
  }

.main-content__container {
  padding-top: calc(1 * 18px);
}

@media (min-width: 700px) {

.main-content__container {
    padding-top: calc(1 * 18px);
}
  }

footer .site-footer__inner.container {
    padding-left: 4rem;
    padding-right: 1rem;
  }

/* From layout > layout-footer.pcss.css */

@media (min-width: 1200px) {

.site-footer__inner {
    padding-top: calc(4 * 18px);
    padding-bottom: calc(4 * 18px);
}
  }

/* Remove border left from footer */

@media (min-width: 1200px) {
  [dir="ltr"] body:not(.is-always-mobile-nav) .site-footer {
    border-left: 0;
  }
  [dir="rtl"] body:not(.is-always-mobile-nav) .site-footer {
    border-right: 0;
  }
}

.path-frontpage .page-wrapper {
        max-width: 100%;
    }

.path-frontpage .grid-full {
        display: block;
    }

.path-frontpage .main-content {
        width: 100%;
        margin-right: 0;
    }

.path-frontpage .page-title {
        display: none;
    }

@media (min-width: 700px) {

.path-frontpage .region.region--hero {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 18px;
            padding-left: 5%;
            margin-top: 3rem;
    }
        }

.path-frontpage .region.region--hero {
        & #block-homepagewelcomemessage, #block-heroimage {
            padding-left: 5%;
            padding-right: 5%;
        }
    }

@media (min-width: 700px) {

.path-frontpage #block-heroimage .block__content {
            margin-top: 18px;
            margin-bottom: 18px;
    }
        }

.path-frontpage .block-views {
        padding-top: 5rem;
        padding-bottom: 5rem;
    }

.path-frontpage .block-views .block__title {
            font-size: 2rem;
            text-align: center;
            margin-bottom: 3rem;
        }

.path-frontpage #block-views-block-event2-block-1 {
        background-color: #36573B;
    }

.path-frontpage #block-views-block-event2-block-1 .block__title {
            color: white;
        }

.path-frontpage .main-content__container.container {
        padding-left: 0;
        padding-right: 0;
        max-width: 100%
    }

.path-frontpage .flexbox-unformatted {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 18px;
    }

@media (min-width: 1000px) {

.path-frontpage .flexbox-unformatted {
            flex-direction: row;
    }
        }

.path-frontpage .flexbox-unformatted li {
            list-style: none;
            width: 200px;
            border: 1px solid #e2e2e2;
            padding: 10px 16px;
        }

.path-frontpage ul.list-grid {
            margin-left: 1rem;
            margin-right: 1rem;
        }

@media (min-width: 1000px) {

.path-frontpage .list-grid {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-gap: 1rem;
    }
            .path-frontpage ul.list-grid {
                margin-left: 5rem;
                margin-right: 5rem;
            }
        }

.path-frontpage .list-grid.background-dark li {
                color: white;
            }

.path-frontpage .list-grid.background-dark li a {
                    color: white;
                }

.path-frontpage .list-grid li {
            list-style: none;
            border: 1px solid #e2e2e2;
            padding: 1.5rem 1rem;
            margin-bottom: 2rem;
        }

.path-frontpage .list-grid li .views-field-title {
                font-size: 1.5rem;
                font-weight: bold;
                padding-bottom: 0.5rem;
            }

.path-frontpage .list-grid li .views-field-body {
                padding-bottom: 0.5rem;
            }

.path-frontpage .list-grid li .views-field-field-event-date {
                font-size: 0.9rem;
            }

.path-frontpage .view-event2.view-display-id-block_1 .view-footer, .path-frontpage .view-announcements.view-display-id-block_1 .view-footer {
            text-align: center;
        }

@media (min-width: 1000px) {

.path-frontpage .layout--pass--content-medium .block-views-blockevent2-block-1,
        .path-frontpage .layout--pass--content-medium .block-views-blockannouncements-block-1 {
                grid-column: 1 / 15;
        }
            }

/* Remove white space for landing page content */

.path-frontpage #content {
        margin-bottom: 0;
    }

.path-frontpage {
    & .region > #block-walnut-danland-system-main,
        .region > #block-views-block-event2-block-1 {
        margin-bottom: 0;
    }
    /* Hide landing page content on home page */
}

.path-frontpage article.node--type-landing-page .node__content {
        display: none;
    }

/**
 * @file
 * Site branding in header.
 */

/* Site Header */

.site-header {
  padding-left: 5%;
  padding-right: 5%;
}

/****** Secondary Menu Region ******/

.container.site-header__inner__container__walnut__secondaryMenu {
  margin-top: 1rem;
}

.region--secondary-menu {
  display: flex;
  margin-bottom: 0;
}

@media (min-width: 700px) {
  .region--secondary-menu {
    /* Keep the secondary nav always aligning to the left side of the page */
    justify-content: flex-end;
  }
}

[dir="ltr"] .secondary-nav {
  margin-right: 1rem;
}

[dir="rtl"] .secondary-nav {
  margin-left: 1rem;
}

@media (min-width: 700px) {
  [dir="ltr"] .secondary-nav {
    margin-right: 2.25rem;
  }
  [dir="rtl"] .secondary-nav {
    margin-left: 2.25rem;
  }
}

/* Adjust spacing between menu items */

[dir="ltr"] .secondary-nav__menu-item:not(:last-child) {
  margin-right: 1rem;
}

@media (min-width: 700px) {
  [dir="ltr"] .secondary-nav__menu-item:not(:last-child) {
    margin-right: 2.25rem;
  }
}

/* Remove the extra spacing between the secondary nav menus */

@media (min-width: 75rem) {
  [dir="ltr"] body:not(.is-always-mobile-nav) .secondary-nav {
    padding-left: 0;
    margin-left: 0;
  }
}

/* Make the secondary menu a little tighter against the right side of the page */

.container.site-header__inner__container__walnut__secondaryMenu {
padding-right: 0;
}

/****** Search region ******/

/* Remove margin at the bottom */

.region--search > * {
  margin-bottom: 0;
}

/* Line up the search button with the secondary menu */

.container.site-header__inner__container__walnut__search {
  padding-right: 12px;
}

/* Control height of region */

.region--search {
  height: 4rem;
}

@media (min-width: 700px) {
  .region--search {
    height: 1.5rem;
  }
}

/* Control layout of search form elements */

#search-block-form {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
}

#search-block-form .form-actions .button {
    margin-top: 0;
    margin-bottom: 0;
  }

#search-block-form .button {
    margin-top: 0;
    margin-bottom: 0;
  }

@media (min-width: 700px) {
  #search-block-form {
    justify-content: flex-end;
  }
}

/* Make search form not so tall */

[type="search"], [value="search"] {
  min-height: 2.375rem;
}

.button.search-form__submit {
  height: 2.375rem;
}

/***** Logo, site name, slogan *****/

.site-header__inner__container {
  display: flex;
  justify-content: flex-start;
  padding-left: 0;
  padding-right: 0;
  display: block;
  margin-bottom: 1rem;
}

@media (min-width: 700px) {

.site-header__inner__container {
    display: flex;
}
  }

/* Logo and site name outer wrapper */

[dir="ltr"] .site-branding {
  margin-left: calc(-1 * 18px);
  margin-right: 18px;
}

[dir="rtl"] .site-branding {
  margin-right: calc(-1 * 18px);
  margin-left: 18px;
}

[dir="ltr"] .site-branding {
  padding-left: 18px;
}

[dir="rtl"] .site-branding {
  padding-right: 18px;
}

[dir="ltr"] .site-branding {
  padding-right: 0;
}

[dir="rtl"] .site-branding {
  padding-left: 0;
}

.site-branding {
  display: block;
  padding-top: 0;
  padding-bottom: 0;

  /* @todo - #0d7ab8 isn't currently a variable. */
  background-image: linear-gradient(160deg, #2494db 0%, #0d7ab8 78.66%);
}

@media (min-width: 500px) {

.site-branding {
    min-height: calc(4 * 18px);
}
  }

@media (min-width: 700px) {

.site-branding {
}
  }

@media (min-width: 1000px) {

.site-branding {
}
  }

@media (min-width: 1200px) {

.site-branding {
}
  }

@media (min-width: 1440px) {

.site-branding {
}
  }

[dir="rtl"] .site-branding {
  background-image: linear-gradient(-160deg, #2494db 0%, #0d7ab8 78.66%);
}

.site-branding--bg-gray {
  background: #f7f9fa;
}

.site-branding--bg-white {
  background: #fff;
}

/* Logo and site name inner */

.site-branding__inner {
  display: block;
  font-family: Alice, sans-serif;
  height: 72px;
  padding-top: 0;
  padding-bottom: 0;
}

.site-branding__inner .site-branding__wrapper {
    display: flex;
    align-items: flex-end;
   }

@media (min-width: 1000px) {

.site-branding__inner {
}
    
  }

@media (min-width: 1200px) {

[dir="ltr"] .site-branding__inner {
    padding-left: 0;
  }

[dir="rtl"] .site-branding__inner {
    padding-right: 0;
  }

[dir="ltr"] .site-branding__inner {
    padding-right: 0;
  }

[dir="rtl"] .site-branding__inner {
    padding-left: 0;
  }

.site-branding__inner {
    height: 90px;
}
    }

/* Logo */

.site-branding__logo {
  flex-shrink: 0;
  max-width: 100%;
}

.site-branding__logo img {
    width: auto;
    max-width: 100%;
    max-height: calc(3 * 18px);
  }

@media (min-width: 700px) {

.site-branding__logo img {
      max-height: calc(4 * 18px);
  }
    }

@media (min-width: 1200px) {

.site-branding__logo img {
      max-height: calc(5 * 18px);
  }
    }

/* Site name wrapper */

.site-branding__text {
  padding-bottom: 18px;
  color: #0d1214;
}

.site-branding__text a {
    color: inherit;
  }

.site-branding__text a:hover {
    color: #5C9575;
  }

/* Site name text size */

.site-branding__text .site-branding__name {
    font-size: 3rem;
    line-height: 2.3rem;
  }

.site-branding--bg-gray .site-branding__text {
  color: #3E7054;
}

.site-branding--bg-white .site-branding__text {
  color: #3E7054;
}

[dir="ltr"] .site-branding__logo + .site-branding__text {
  margin-left: 12px;
}

[dir="rtl"] .site-branding__logo + .site-branding__text {
  margin-right: 12px;
}

.site-branding__logo + .site-branding__text {
  padding-bottom: 0;
}

/* Site slogan */

#block-siteslogan {
  padding-left: 3px;
  align-self: flex-end;
}

.site-branding__slogan {
  color: #3E7054;
  font-weight: bold;
  line-height: 18px;
  font-family: Alice, sans-serif;
  }

/****** Site Navigation ******/

/* From components/header-navigation.pcss */

body:not(.is-always-mobile-nav) .header-nav {
  /* @media (--nav) {
    height: calc(2 * var(--sp));
  }
  height: calc(5 * var(--sp)); */
  height: 100%;
}

/* Keeps the .header-nav in view overriding olivero */

[dir="ltr"] .header-nav {
  padding-left: 0;
}

[dir="rtl"] .header-nav {
  padding-right: 0;
}

[dir="ltr"] .header-nav {
  padding-right: 0;
}

[dir="rtl"] .header-nav {
  padding-left: 0;
}

.header-nav {
  position: static;
  display: flex;
  visibility: visible;
  overflow: visible;
  align-items: center;
  justify-content: flex-end;
  max-width: none;
  /* height: var(--header-height-wide-when-fixed); */
  margin-top: auto;
  padding-top: 0;
  padding-bottom: 0;
  transition: transform 0.2s;
  transform: none;
  border-top: 0;
  box-shadow: none;
}

/* From Olivero header-navigation.pcss.css */

@media (min-width: 1200px) {

[dir="ltr"] body:not(.is-always-mobile-nav) .header-nav {
    padding-left: 0;
  }

[dir="rtl"] body:not(.is-always-mobile-nav) .header-nav {
    padding-right: 0;
  }

[dir="ltr"] body:not(.is-always-mobile-nav) .header-nav {
    padding-right: 0;
  }

[dir="rtl"] body:not(.is-always-mobile-nav) .header-nav {
    padding-left: 0;
  }

body:not(.is-always-mobile-nav) .header-nav {
    position: static;
    display: flex;
    visibility: visible;
    overflow: visible;
    grid-column: 5 / 15;
    align-items: center;
    justify-content: flex-start; /* Changed from flex-end to flex-start */
    max-width: none;
    height: 3rem; /* Changed from var(--header-height-wide-when-fixed) */
    margin-top: auto;
    padding-top: 0;
    padding-bottom: 0;
    transition: transform 0.2s;
    transform: none;
    border-top: 0;
    box-shadow: none;
}
  }

/* From: Olivero site-header.pcss.css: Hide the desktop nav when it's fixed and not active. */

@media (min-width: 1200px) {

body:not(.is-always-mobile-nav) .site-header__fixable.is-fixed:not(.is-expanded) .site-header__inner {
    transform: translateX(0); /* LTR */
    opacity: 1;
}
  }

@media (min-width: 1200px) {

[dir="rtl"] body:not(.is-always-mobile-nav) .site-header__fixable.is-fixed:not(.is-expanded) .site-header__inner {
    transform: translateX(0);
}
  }

/* From Olivero site-header.pcss.css: stop the header from sticking to the top of the page */

@media (min-width: 1200px) {
    body:not(.is-always-mobile-nav) .site-header__fixable.is-fixed {
      position: static; /* Changed to static so it doesn't stick to the top of the page when scrolling */
      z-index: 102; /* Appear above body content that is position: relative */
      top: calc(-1 * calc(4 * 18px));
      max-width: 1570px;
    }
}

.button {
  border: solid 2px #66435A;
  color: white;
  background-color: #66435A;
}

.button--primary {
  border: solid 2px #66435A;
  color: white;
  background-color: #66435A;
}

.button:hover, .button--primary:hover {
  text-decoration: none;
  border: solid 2px #7D5971;
  background-color: #7D5971;
  }

.button:focus, .button--primary:focus {
  text-decoration: none;
  border: solid 2px #7D5971;
  background-color: #7D5971;
  }

.button:focus, .button--primary:focus {
      outline: 2px solid #53b0eb;
      outline-offset: 2px;
    }

.button:active, .button--primary:active {
      border-color: #66435A;
    }

.button-secondary {
  border: solid 2px white;
  color: white;
  background-color: transparent;
}

.button-secondary:hover,
  .button-secondary:focus {
    color: white;
    background-color: black;
    border: solid 2px white;
  }

.block-superfish {
    background: white;
}

ul.sf-menu.sf-accordion {
    background: white;
}

ul.sf-menu a {
    color: #3E7054;
    text-decoration: none;
    font-weight: bold;
}

#superfish-main-toggle {
    color: #3E7054;
    text-decoration: none;
    font-weight: bold;
}

ul.sf-menu a:hover {
    color: #5C9575;
}

#superfish-main-toggle {
    border: 1px solid;
    border-color: #3E7054;
    border-radius: 4px;
    padding: 5px 10px;
}

a#superfish-main-toggle:hover {
    color: #5C9575;
}

ul.sf-menu ul {
    background: white;
    border: 1px solid #3E7054;
    border-radius: 8px;
    box-shadow: 5px 5px 0px #3E7054;
}

ul.sf-menu .sf-sub-indicator {
    height: 1rem;
    width: 1rem;
}

/* Give the main menu link some room on mobile */

#superfish-main-accordion {
    margin-top: 1rem;
}

/* Flexbox and Card styles */

.flex-container__cards {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    gap: 1rem;
}

ul.flex-container__cards {
    margin-left: 0;
}

.flex-container__cards > li {
    padding: 1.5rem;
    border: 1px solid #E2E2E2;
    border-radius: 2px;
    list-style: none;
}

.flex-width__35ch > li {
    width: 35ch;
}

.flex-width__28ch > li {
    width: 28ch;
}

.flex-cards {

}

.card-title {
    margin-top: 0.5rem;
    text-align: center;
}

.card-body {

}

.card-button {

}

.card-image {

}

/* Flexbox utility class */

.display-flex {
    display: flex;
}

/* Justify Content Utility Classes */

.flex-start {
    justify-content: start;
}

.flex-end {
    justify-content: end;
}

.flex-center {
    justify-content: center;
}

.flex-space-between {
    justify-content: space-between;
}

.flex-space-around {
    justify-content: space-around;
}

.flex-space-evenly {
    justify-content: space-evenly;
}

/* Landing page content type */

@media (min-width: 1000px) {

.page-node-type-landing-page .sidebar-grid > .site-main {
            grid-column: 1 / 12;
    }
        }

@media (min-width: 1000px) {

[dir="ltr"] .page-node-type-landing-page .wide-image {
            margin-left: 0;
  }

[dir="rtl"] .page-node-type-landing-page .wide-image {
            margin-right: 0;
  }

.page-node-type-landing-page .wide-image {
            width: 100%;
    }
        }

@media (min-width: 1200px) {

[dir="ltr"] .page-node-type-landing-page .wide-image {
            margin-left: 0;
  }

[dir="rtl"] .page-node-type-landing-page .wide-image {
            margin-right: 0;
  }

.page-node-type-landing-page .wide-image {
            width: 100%;
    }
        }

@media (min-width: 1440px) {

[dir="ltr"] .page-node-type-landing-page .wide-image {
            margin-left: 0;
  }

[dir="rtl"] .page-node-type-landing-page .wide-image {
            margin-right: 0;
  }

.page-node-type-landing-page .wide-image {
            width: 100%;
    }
        }
/*# sourceMappingURL=walnut-styles.css.map */