@font-face{
  font-family:Lato;
  font-style:normal;
  font-weight:400;
  src:url(../fonts/lato-regular-webfont.woff2) format("woff2");
}

@font-face{
  font-family:Lato;
  font-style:bold;
  font-weight:700;
  src:url(../fonts/lato-bold-webfont.woff2) format("woff2");
}

@font-face{
  font-family:Lato;
  font-style:italic;
  font-weight:400;
  src:url(../fonts/lato-italic-webfont.woff2) format("woff2");
}

@font-face{
  font-family:Barlow;
  src:url(../fonts/Barlow-Bold-webfont.woff) format("woff");
}

@font-face{
  font-family:Alice;
  src:url(../fonts/alice-regular-webfont.woff2) format("woff2");
}

h1,h2,h3,h4,h5,h6,header nav{
    font-family:Barlow,sans-serif;
}

body,li,p{ 
    font-family:Lato,sans-serif; 
}

.breadcrumb__link{
    color:#3e7054;
}

a.breadcrumb__link:hover,a.secondary-nav__menu-link:hover{
    color:#5c9575;
}

.cke_editable a:not(.button),.text-content a:not(.button){
    color:#3e7054;
    -webkit-text-decoration-color:#3e7054;
            text-decoration-color:#3e7054;
    text-decoration-thickness:2px;
    word-wrap:break-word;
  }

@supports (box-shadow:none){

.cke_editable a:not(.button),.text-content a:not(.button){
      box-shadow:inset 0 -2px 0 0 #3e7054;
      text-decoration:none;
      transition:box-shadow .3s cubic-bezier(.55, .085, 0, .99);
  }

      .cke_editable a:not(.button):hover,.text-content a:not(.button):hover{

        box-shadow:inset 0 -2em 0 0 #9ec9b1;
        color:#000;
        text-decoration:underline;
        -webkit-text-decoration-color:#9ec9b1;
                text-decoration-color:#9ec9b1;
      }
    }

@media (min-width:700px){

.cke_editable p,.text-content p{
      margin-bottom:18px;
      margin-top:18px;
  }
    }

#block-walnut-page-title{
  margin-bottom:2rem;
  }

.container{
  max-width:1350px;
  padding-left:18px;
  padding-right:18px;
  width:100%;
}

@media (min-width:1200px){

.container{
    padding-left:36px;
    padding-right:36px;
}
  }

.region>#block-walnut-breadcrumbs{
  grid-column:1 /  13;
  margin-bottom:3rem;
}

@media (min-width:1000px){

.region>#block-walnut-breadcrumbs{
    grid-column:2 /  13;
}
  }

@media (min-width:1200px){

.region>#block-walnut-breadcrumbs{
    grid-column:1 /  13;
}
  }

.menu--sidebar .menu__link{
  color:#3e7054;
  font-family:Metropolis,sans-serif;
}

.page-wrapper{
  background:#fff;
  margin:0 auto;
  max-width:1570px;
}

@media (min-width:1200px){

.layout-main{
    display:flex;
    flex-direction:row-reverse;
    flex-wrap:wrap;
}

.main-content{
    margin:0 auto;
    width:calc(100% - 90px);
}
  }

.main-content__container{
  padding-top:18px;
}

@media (min-width:700px){

.main-content__container{
    padding-top:18px;
}
  }

footer .site-footer__inner.container{
    padding-left:4rem;
    padding-right:1rem;
  }

@media (min-width:1200px){

.site-footer__inner{
    padding-bottom:72px;
    padding-top:72px;
}
  [dir=ltr] body:not(.is-always-mobile-nav) .site-footer{
    border-left:0;}
  [dir=rtl] body:not(.is-always-mobile-nav) .site-footer{
    border-right:0;}
  }

.path-frontpage .page-wrapper{
        max-width:100%;
    }

.path-frontpage .grid-full{
        display:block;
    }

.path-frontpage .main-content{
        margin-right:0;
        width:100%;
    }

.path-frontpage .page-title{
        display:none;
    }

@media (min-width:700px){

.path-frontpage .region.region--hero{
            display:grid;
            grid-template-columns:1fr 1fr;
            grid-gap:18px;
            padding-left:5%;
    }
        }

.path-frontpage .region.region--hero{
        #block-heroimage,& #block-homepagewelcomemessage{
            padding-left:5%;
            padding-right:5%;
        }
    }

@media (min-width:700px){

.path-frontpage #block-heroimage .block__content{
            margin-bottom:18px;
            margin-top:18px;
    }
        }

.path-frontpage .block-views{
        padding-bottom:5rem;
        padding-top:5rem;
    }

.path-frontpage .block-views .block__title{
            font-size:2rem;
            margin-bottom:3rem;
            text-align:center;
        }

.path-frontpage #block-views-block-event2-block-1{
        background-color:#36573b;
    }

.path-frontpage #block-views-block-event2-block-1 .block__title{
            color:#fff;
        }

.path-frontpage .main-content__container.container{
        max-width:100%;
        padding-left:0;
        padding-right:0
    }

.path-frontpage .flexbox-unformatted{
        display:flex;
        flex-direction:column;
        gap:18px;
        justify-content:center;
    }

@media (min-width:1000px){

.path-frontpage .flexbox-unformatted{
            flex-direction:row;
    }
        }

.path-frontpage .flexbox-unformatted li{
            border:1px solid #e2e2e2;
            list-style:none;
            padding:10px 16px;
            width:200px;
        }

.path-frontpage ul.list-grid{
            margin-left:1rem;
            margin-right:1rem;
        }

@media (min-width:1000px){

.path-frontpage .list-grid{
            display:grid;
            grid-template-columns:1fr 1fr 1fr 1fr;
            grid-gap:1rem;
    }
            .path-frontpage ul.list-grid{
                margin-left:5rem;
                margin-right:5rem;
            }
        }

.path-frontpage .list-grid.background-dark li,.path-frontpage .list-grid.background-dark li a{
                    color:#fff;
                }

.path-frontpage .list-grid li{
            border:1px solid #e2e2e2;
            list-style:none;
            margin-bottom:2rem;
            padding:1.5rem 1rem;
        }

.path-frontpage .list-grid li .views-field-title{
                font-size:1.5rem;
                font-weight:700;
                padding-bottom:.5rem;
            }

.path-frontpage .list-grid li .views-field-body{
                padding-bottom:.5rem;
            }

.path-frontpage .list-grid li .views-field-field-event-date{
                font-size:.9rem;
            }

.path-frontpage .view-announcements.view-display-id-block_1 .view-footer,.path-frontpage .view-event2.view-display-id-block_1 .view-footer{
            text-align:center;
        }

@media (min-width:1000px){

.path-frontpage .layout--pass--content-medium .block-views-blockannouncements-block-1,.path-frontpage .layout--pass--content-medium .block-views-blockevent2-block-1{
                grid-column:1 /  15;
        }
            }

.path-frontpage #content{
        margin-bottom:0;
    }

.path-frontpage{
    & .region>#block-walnut-danland-system-main,.region>#block-views-block-event2-block-1{
        margin-bottom:0;
    }
}

.path-frontpage article.node--type-landing-page .node__content{
        display:none;
    }

.site-header{
  padding-left:5%;
  padding-right:5%;
}

.container.site-header__inner__container__walnut__secondaryMenu{
  margin-top:1rem;
}

.region--secondary-menu{
  display:flex;
  margin-bottom:0;
}

@media (min-width:700px){
  .region--secondary-menu{
    justify-content:flex-end;
  }
}

[dir=ltr] .secondary-nav{
  margin-right:1rem;}

[dir=rtl] .secondary-nav{
  margin-left:1rem;}

@media (min-width:700px){
  [dir=ltr] .secondary-nav{
    margin-right:2.25rem;}
  [dir=rtl] .secondary-nav{
    margin-left:2.25rem;}
}

[dir=ltr] .secondary-nav__menu-item:not(:last-child){
  margin-right:1rem;
}

@media (min-width:700px){
  [dir=ltr] .secondary-nav__menu-item:not(:last-child){
    margin-right:2.25rem;
  }
}

@media (min-width:75rem){
  [dir=ltr] body:not(.is-always-mobile-nav) .secondary-nav{
    margin-left:0;
    padding-left:0;
  }
}

.container.site-header__inner__container__walnut__secondaryMenu{
padding-right:0;
}

.region--search>*{
  margin-bottom:0;
}

.container.site-header__inner__container__walnut__search{
  padding-right:12px;
}

.region--search{
  height:4rem;
}

@media (min-width:700px){
  .region--search{
    height:1.5rem;
  }
}

#search-block-form{
  display:flex;
  gap:1rem;
  justify-content:flex-start;
}

#search-block-form .button,#search-block-form .form-actions .button{
    margin-bottom:0;
    margin-top:0;
  }

@media (min-width:700px){
  #search-block-form{
    justify-content:flex-end;
  }
}

[type=search],[value=search]{
  min-height:2.375rem;
}

.button.search-form__submit{
  height:2.375rem;
}

.site-header__inner__container{
  display:flex;
  display:block;
  justify-content:flex-start;
  margin-bottom:1rem;
  padding-left:0;
  padding-right:0;
}

@media (min-width:700px){

.site-header__inner__container{
    display:flex;
}
  }

[dir=ltr] .site-branding{
  margin-left:-18px;
  margin-right:18px;}

[dir=rtl] .site-branding{
  margin-left:18px;
  margin-right:-18px;}

[dir=ltr] .site-branding{
  padding-left:36px;}

[dir=rtl] .site-branding{
  padding-right:36px;}

[dir=ltr] .site-branding{
  padding-right:0;}

[dir=rtl] .site-branding{
  padding-left:0;}

.site-branding{
  background-image:linear-gradient(160deg, #2494db, #0d7ab8 78.66%);
  display:block;
  padding-bottom:0;
  padding-top:0;
}

@media (min-width:500px){

.site-branding{
    min-height:72px;
}
  }

[dir=rtl] .site-branding{
  background-image:linear-gradient(-160deg, #2494db, #0d7ab8 78.66%);
}

.site-branding--bg-gray{
  background:#f7f9fa;
}

.site-branding--bg-white{
  background:#fff;
}

.site-branding__inner{
  display:block;
  font-family:Alice,sans-serif;
  height:72px;
  padding-bottom:0;
  padding-top:0;
}

.site-branding__inner .site-branding__wrapper{
    align-items:flex-end;
    display:flex;
   }

@media (min-width:1200px){

[dir=ltr] .site-branding__inner{
    padding-left:0;}

[dir=ltr] .site-branding__inner,[dir=rtl] .site-branding__inner{
    padding-right:0;}

[dir=rtl] .site-branding__inner{
    padding-left:0;}

.site-branding__inner{
    height:90px;
}
    }

.site-branding__logo{
  flex-shrink:0;
  max-width:100%;
}

.site-branding__logo img{
    max-height:54px;
    max-width:100%;
    width:auto;
  }

@media (min-width:700px){

.site-branding__logo img{
      max-height:72px;
  }
    }

@media (min-width:1200px){

.site-branding__logo img{
      max-height:90px;
  }
    }

.site-branding__text{
  color:#0d1214;
  padding-bottom:18px;
}

.site-branding__text a{
    color:inherit;
  }

.site-branding__text a:hover{
    color:#5c9575;
  }

.site-branding__text .site-branding__name{
    font-size:3rem;
    line-height:2.3rem;
  }

.site-branding--bg-gray .site-branding__text,.site-branding--bg-white .site-branding__text{
  color:#3e7054;
}

[dir=ltr] .site-branding__logo+.site-branding__text{
  margin-left:12px;}

[dir=rtl] .site-branding__logo+.site-branding__text{
  margin-right:12px;}

.site-branding__logo+.site-branding__text{
  padding-bottom:0;
}

#block-siteslogan{
  align-self:flex-end;
  padding-left:3px;
}

.site-branding__slogan{
  color:#3e7054;
  font-family:Alice,sans-serif;
  font-weight:700;
  line-height:18px;
  }

body:not(.is-always-mobile-nav) .header-nav{
  height:100%;
}

[dir=ltr] .header-nav{
  padding-left:0;}

[dir=ltr] .header-nav,[dir=rtl] .header-nav{
  padding-right:0;}

[dir=rtl] .header-nav{
  padding-left:0;}

.header-nav{
  align-items:center;
  border-top:0;
  box-shadow:none;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  margin-top:auto;
  max-width:none;
  overflow:visible;
  padding-bottom:0;
  padding-top:0;
  position:static;
  transform:none;
  transition:transform .2s;
  visibility:visible;
}

@media (min-width:1200px){

[dir=ltr] body:not(.is-always-mobile-nav) .header-nav{
    padding-left:0;}

[dir=ltr] body:not(.is-always-mobile-nav) .header-nav,[dir=rtl] body:not(.is-always-mobile-nav) .header-nav{
    padding-right:0;}

[dir=rtl] body:not(.is-always-mobile-nav) .header-nav{
    padding-left:0;}

body:not(.is-always-mobile-nav) .header-nav{
    align-items:center;
    border-top:0;
    box-shadow:none;
    display:flex;
    flex-direction:column;
    grid-column:5 /  15;
    height:6rem;
    justify-content:flex-start;
    margin-top:auto;
    max-width:none;
    overflow:visible;
    padding-bottom:0;
    padding-top:0;
    position:static;
    transform:none;
    transition:transform .2s; 
    visibility:visible;
}

body:not(.is-always-mobile-nav) .site-header__fixable.is-fixed:not(.is-expanded) .site-header__inner{
    opacity:1;
    transform:translateX(0);
}

[dir=rtl] body:not(.is-always-mobile-nav) .site-header__fixable.is-fixed:not(.is-expanded) .site-header__inner{
    transform:translateX(0);
}
    body:not(.is-always-mobile-nav) .site-header__fixable.is-fixed{
      max-width:1570px;
      position:static;
      top:-72px;
      z-index:102;
    }
  }

[dir=ltr] #block-walnut-breadcrumbs{
  margin-left:1.5rem;}

[dir=rtl] #block-walnut-breadcrumbs{
  margin-right:1.5rem;}

#block-walnut-breadcrumbs{
  align-self:flex-start;
  margin-top:1rem;
}

.button,.button--primary{
  background-color:#66435a;
  border:2px solid #66435a;
  color:#fff;
}

.button--primary:focus,.button--primary:hover,.button:focus,.button:hover{
  background-color:#7d5971;
  border:2px solid #7d5971;
  text-decoration:none;
  }

.button--primary:focus,.button:focus{
      outline:2px solid #53b0eb;
      outline-offset:2px;
    }

.button--primary:active,.button:active{
      border-color:#66435a;
    }

.button-secondary{
  background-color:transparent;
  border:2px solid #fff;
  color:#fff;
}

.button-secondary:focus,.button-secondary:hover{
    background-color:#000;
    border:2px solid #fff;
    color:#fff;
  }

.block-superfish,ul.sf-menu.sf-accordion{
    background:#fff;
}

#superfish-main-toggle,ul.sf-menu a{
    color:#3e7054;
    font-weight:700;
    text-decoration:none;
}

ul.sf-menu a:hover{
    color:#5c9575;
}

#superfish-main-toggle{
    border:1px solid #3e7054;
    border-radius:4px;
    padding:5px 10px;
}

a#superfish-main-toggle:hover{
    color:#5c9575;
}

ul.sf-menu ul{
    background:#fff;
    border:1px solid #3e7054;
    border-radius:8px;
    box-shadow:5px 5px 0 #3e7054;
}

ul.sf-menu .sf-sub-indicator{
    height:1rem;
    width:1rem;
}

#superfish-main-accordion{
    margin-top:1rem;
}

@media (max-width:768px){
  #superfish-main-toggle{
    background:#0073aa;
    border-color:#005a87;
    color:#fff;
    display:inline-block;
    font-size:12px;
    line-height:1.2;
    margin-top:5px;
    min-height:auto;
    padding:6px 12px;
  }
  
  #superfish-main-toggle span{
    display:none;
  }
  
  #superfish-main-toggle:after{
    content:"Menu";
  }
  
  #superfish-main-toggle:hover{
    background:#005a87;
    color:#fff;
  }
  
  .sf-accordion-toggle{
    margin:5px 0;
  }
}

#main-menu-link-content3ad2f607-b257-4419-9cf8-77d7fddf5913>a,#main-menu-link-contentf0df3270-2241-48de-95f9-196cc561790c>a{
  background-color:#66435a;
  border:2px solid rgba(0,0,0,.3);
  border-radius:4px;
  box-shadow:0 4px 8px rgba(0,0,0,.25);
  color:#fff;
  font-weight:700;
  padding:8px 16px;
  transition:all .3s ease;
}

#main-menu-link-content3ad2f607-b257-4419-9cf8-77d7fddf5913>a:focus,#main-menu-link-content3ad2f607-b257-4419-9cf8-77d7fddf5913>a:hover,#main-menu-link-contentf0df3270-2241-48de-95f9-196cc561790c>a:focus,#main-menu-link-contentf0df3270-2241-48de-95f9-196cc561790c>a:hover{
  background-color:#7d5971;
  border:2px solid rgba(0,0,0,.3);
  box-shadow:0 8px 16px rgba(0,0,0,.3);
  text-decoration:none;
}

#main-menu-link-content3ad2f607-b257-4419-9cf8-77d7fddf5913-accordion>a,#main-menu-link-contentf0df3270-2241-48de-95f9-196cc561790c-accordion>a{
  background-color:#66435a;
  border:2px solid rgba(0,0,0,.3);
  border-radius:4px;
  box-shadow:0 4px 8px rgba(0,0,0,.25);
  color:#fff;
  display:block;
  font-weight:700;
  margin-left:auto;
  margin-right:auto;
  padding:8px 16px;
  transition:all .3s ease;
  width:-moz-fit-content;
  width:fit-content;
}

#main-menu-link-content3ad2f607-b257-4419-9cf8-77d7fddf5913-accordion>a:focus,#main-menu-link-content3ad2f607-b257-4419-9cf8-77d7fddf5913-accordion>a:hover{
  background-color:#7d5971;
  border:2px solid rgba(0,0,0,.3);
  box-shadow:0 8px 16px rgba(0,0,0,.3);
  text-decoration:none;
}

body.page-node-2931 #main-menu-link-content3ad2f607-b257-4419-9cf8-77d7fddf5913,body.page-node-2931 #main-menu-link-contentf0df3270-2241-48de-95f9-196cc561790c{
	  display:none !important;
}

.flex-container__cards{
    display:flex;
    flex-flow:row wrap;
    gap:1rem;
    list-style:none;
}

ul.flex-container__cards{
    margin-left:0;
}

.flex-container__cards>li{
    border:2px solid #e2e2e2;
    border-radius:2px;
    list-style:none;
    padding:1.5rem;
}

.flex-width__35ch>li{
    width:35ch;
}

.flex-width__28ch>li{
    width:28ch;
}

.card-title{
    margin-top:.5rem;
    text-align:center;
}

.display-flex{
    display:flex;
}

.flex-start{
    justify-content:start;
}

.flex-end{
    justify-content:end;
}

.flex-center{
    justify-content:center;
}

.flex-space-between{
    justify-content:space-between;
}

.flex-space-around{
    justify-content:space-around;
}

.flex-space-evenly{
    justify-content:space-evenly;
}

@media (min-width:1000px){

.page-node-type-landing-page .sidebar-grid>.site-main{
            grid-column:1 /  12;
    }

[dir=ltr] .page-node-type-landing-page .wide-image{
            margin-left:0;}

[dir=rtl] .page-node-type-landing-page .wide-image{
            margin-right:0;}

.page-node-type-landing-page .wide-image{
            width:100%;
    }
        }

@media (min-width:1200px){

[dir=ltr] .page-node-type-landing-page .wide-image{
            margin-left:0;}

[dir=rtl] .page-node-type-landing-page .wide-image{
            margin-right:0;}

.page-node-type-landing-page .wide-image{
            width:100%;
    }
        }

@media (min-width:1440px){

[dir=ltr] .page-node-type-landing-page .wide-image{
            margin-left:0;}

[dir=rtl] .page-node-type-landing-page .wide-image{
            margin-right:0;}

.page-node-type-landing-page .wide-image{
            width:100%;
    }
        }

body{
  background:none;
  background-color:#e9ecf1;
  background-image:url(../images/logo-120.svg);
  background-repeat:repeat;
  background-size:75px auto;
}

.fund-accordion{
  font-family:sans-serif;
  margin:.25rem 0;
}

.fund-item{
  border:1px solid #ddd;
  border-radius:3px;
  margin-bottom:2px;
  overflow:hidden;
}

.fund-title{
  background-color:#f8f9fa;
  border:none;
  cursor:pointer;
  font-family:inherit;
  font-size:.85em;
  font-weight:700;
  line-height:1.1;
  outline:none;
  padding:6px 10px;
}

.fund-title:hover{
  background-color:#e9ecef;
}

.fund-description{
  background-color:#fff;
  font-family:inherit;
  font-size:.8em;
  line-height:1.25;
  padding:8px 10px;
}

.fund-description p{
  font-family:inherit;
  margin:0 0 2px;
}

.fund-description p:last-child{
  margin-bottom:0;
}

#block-walnut-specializedfunds .block__title{
    background-color:#f0fff0;
    border-radius:6px;
    font-size:1.1em;
    font-weight:700;
    line-height:1.2;
    margin-bottom:0;
    padding:10px 15px;
}

#block-walnut-specializedfunds .block__title:after{
    content:"\A(Click on Fund for description)";
    display:block;
    font-size:.6em;
    font-style:italic;
    font-weight:400;
    line-height:1;
    margin-top:-2px;
    white-space:pre;
}

#block-walnut-specializedfunds .block__content,#block-walnut-specializedfunds .fund-accordion{
    margin-top:0;
    padding-top:0;
}
/*# sourceMappingURL=walnut-styles.css.map */