/*
  Media query breakpoints.
  Processed by postcss/postcss-custom-media.
*/

/* Navigation related breakpoints */

/* Grid related breakpoints */

/* Grid shifts from 6 to 14 columns. */

/* Width of the entire grid maxes out. */

/*
  Custom CSS properties.

  These are "compiled" by postcss/postcss-custom-properties for IE11 compatibility.
*/

:root {

  /* Typography */

  /* Layout */
  /* --site-header-height-wide: var(--sp10); */

  /* Drupal administrative toolbar heights and width. */

  /*
    Grid helpers.

    These variables help authors apply widths and negative margins to break items out of
    the grid, while still conforming to the larger grid system.

    Note we cannot change the values of these custom properties within media queries,
    as they are processed by postcss/postcss-custom-properties (for IE11 compatibility),
    which does not support that functionality. Therefore, we need a separate custom
    property for each breakpoint. 😭
  */ /* Approximate width of a scrollbar. Doesn't have to be perfect. */

  /* Grid gap across various breakpoints. */

  /* Column counts at various breakpoints. */

  /* Count of grid-gaps at various breakpoints. */

  /* Width of the entire grid at various breakpoints. */

  /* Width of a grid column at various breakpoints */

  /* Layout helpers */ /* Black */ /* Black 1 */ /* Black 2 */ /* Black 3 */ /* Gray Dark */ /* Gray Dark 2 */ /* Gray medium */ /* Gray medium 1 */ /* Gray medium 2 */ /* Black 4 */ /* Gray light */ /* Gray light 1 */ /* Gray light 2 */ /* Blue dark */ /* Blue dark 2 */ /* Blue medium */ /* Blue bright */ /* Blue bright 5 */ /* White */ /* Red */ /* Gold */ /* Green */

  /* Header */

  /* Width of slide out navigation */

  /* Border radius */
}

/**
 * @file
 * Site branding in header.
 */

[dir="ltr"] .site-branding {
   margin-left: calc(-1 * 18px);
   margin-right: 18px;
}

[dir="rtl"] .site-branding {
   margin-right: calc(-1 * 18px);
   margin-left: 18px;
}

[dir="ltr"] .site-branding {
   padding-left: 18px;
}

[dir="rtl"] .site-branding {
   padding-right: 18px;
}

[dir="ltr"] .site-branding {
   padding-right: 18px;
}

[dir="rtl"] .site-branding {
   padding-left: 18px;
}

.site-branding {
   display: flex;
   flex-shrink: 1;
   align-items: flex-end;
   min-width: calc((2 * calc((undefined - (calc(6 - 1) * 18px)) / 6)) + (2 * 18px) + 18px);
   min-height: calc(3 * 18px);
   padding-top: 0;
   padding-bottom: calc(0.5 * 18px);
 
   /* @todo - #0d7ab8 isn't currently a variable. */
   background-image: linear-gradient(160deg, #2494db 0%, #0d7ab8 78.66%);
 }

@media (min-width: 500px) {

.site-branding {
     min-height: calc(4 * 18px);
 }
   }

@media (min-width: 700px) {

.site-branding {
     min-height: calc(6 * 18px);
     padding-bottom: 18px;
 }
   }

@media (min-width: 1000px) {

.site-branding {
     min-width: calc((2 * calc((calc(undefined - 15px) - (calc(14 - 1) * undefined)) / 14)) + (2 * undefined) + 18px);
 }
   }

@media (min-width: 1200px) {

[dir="ltr"] .site-branding {
     margin-left: calc(-1 * calc(2 * 18px));
  }

[dir="rtl"] .site-branding {
     margin-right: calc(-1 * calc(2 * 18px));
  }

[dir="ltr"] .site-branding {
     padding-left: calc(2 * 18px);
  }

[dir="rtl"] .site-branding {
     padding-right: calc(2 * 18px);
  }

[dir="ltr"] .site-branding {
     padding-right: calc(2 * 18px);
  }

[dir="rtl"] .site-branding {
     padding-left: calc(2 * 18px);
  }

.site-branding {
     min-width: undefined;
     min-height: calc(6 * 18px);
     padding-top: 0;
     padding-bottom: 0;
 }
   }

@media (min-width: 1440px) {

.site-branding {
     min-width: undefined;
 }
   }

[dir="rtl"] .site-branding {
   background-image: linear-gradient(-160deg, #2494db 0%, #0d7ab8 78.66%);
 }

.site-branding--bg-gray {
   background: #f7f9fa;
 }

.site-branding--bg-white {
   background: #fff;
 }

.site-branding__inner {
   flex-direction: column;
   align-items: center;
   gap: 1rem;
 }

.site-branding__inner .site-branding__wrapper {
     display: flex;
     align-items: flex-end;
   }

.site-branding__inner .site-branding__wrapper a {
      text-decoration: none;
     }

@media (min-width: 1200px) {

[dir="ltr"] .site-branding__inner .site-branding__wrapper {
     padding-left: 0;
  }

[dir="rtl"] .site-branding__inner .site-branding__wrapper {
     padding-right: 0;
  }

[dir="ltr"] .site-branding__inner .site-branding__wrapper {
     padding-right: 0;
  }

[dir="rtl"] .site-branding__inner .site-branding__wrapper {
     padding-left: 0;
  }

.site-branding__inner .site-branding__wrapper {
     height: calc(10 * 18px);
     padding-top: calc(0.5 * 18px);
     padding-bottom: calc(0.5 * 18px);
   }
     }

.site-branding__logo {
   flex-shrink: 0;
   max-width: 100%;
 }

.site-branding__logo img {
     width: auto;
     max-width: 100%;
     max-height: calc(5 * 18px);
   }

@media (min-width: 500px) {

.site-branding__logo img {
       max-height: calc(3 * 18px);
   }
     }

@media (min-width: 700px) {

.site-branding__logo img {
       max-height: calc(4 * 18px);
   }
     }

@media (min-width: 1200px) {

.site-branding__logo img {
       max-height: calc(calc(10 * 18px) - 18px);
   }
     }

.site-branding__text {
   padding-bottom: 18px;
   color: #0d1214;
   font-size: 18px;
   font-weight: bold;
 }

.site-branding__text a {
     color: inherit;
   }

.site-branding__text .site-branding__name {
     font-size: 3rem;
   }

@media (min-width: 700px) {

.site-branding__text {
     font-size: 28px;
     line-height: 28px;
 }
   }

@media (min-width: 1200px) {

.site-branding__text {
     letter-spacing: 0.02em;
     font-size: 32px;
     line-height: calc(2 * 18px);
 }
   }

.site-branding__slogan {
   color: #0d1214;
   font-weight: bold;
   line-height: 18px;
   }

.site-branding--bg-gray .site-branding__text {
   color: #2494db;
 }

.site-branding--bg-white .site-branding__text {
   color: #2494db;
 }

[dir="ltr"] .site-branding__logo + .site-branding__text {
   margin-left: 12px;
}

[dir="rtl"] .site-branding__logo + .site-branding__text {
   margin-right: 12px;
}

.site-branding__logo + .site-branding__text {
   padding-bottom: 0;
 }

/**
 * @file
 * Base Layout.
 */

.container {
  width: 100%;
  max-width: 1350px;
  padding-left: 18px;
  padding-right: 18px;
}

@media (min-width: 1200px) {

.container {
    padding-left: calc(2 * 18px);
    padding-right: calc(2 * 18px);
}
  }

.page-wrapper {
  max-width: 1570px;
  background: #fff;
  margin: 0 auto;
}

/* Contains the social sidebar, and the primary content area. */

@media (min-width: 1200px) {

.layout-main {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}
  }

@media (min-width: 1200px) {

[dir="ltr"] .main-content {
    margin-right: auto;
  }

[dir="rtl"] .main-content {
    margin-left: auto;
  }

.main-content {
    width: calc(100% - 90px);
}
  }

.main-content__container {
  padding-top: calc(3 * 18px);
}

@media (min-width: 700px) {

.main-content__container {
    padding-top: calc(5 * 18px);
}
  }

footer .site-footer__inner.container {
    padding-left: 1rem;
    padding-right: 1rem;
  }

.path-frontpage .page-wrapper {
        max-width: 100%;
    }

.path-frontpage .grid-full {
        display: block;
    }

.path-frontpage .main-content {
        width: 100%;
        margin-right: 0;
    }

.path-frontpage .page-title {
        display: none;
    }

@media (min-width: 700px) {

.path-frontpage .region.region--hero {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 18px;
            padding-left: 5%;
            margin-top: 3rem;
    }
        }

.path-frontpage .region.region--hero #block-homepagewelcomemessage {
            padding-left: 5%;
            padding-right: 5%;
        }

@media (min-width: 700px) {

.path-frontpage #block-heroimage .block__content {
            margin-top: 18px;
            margin-bottom: 18px;
    }
        }

.path-frontpage .container {
        padding-left: 0;
        padding-right: 0;
        max-width: 100%;
    }

.path-frontpage .block-views {
        padding-top: 5rem;
        padding-bottom: 5rem;
    }

.path-frontpage .block-views .block__title {
            font-size: 2rem;
            text-align: center;
            margin-bottom: 3rem;
        }

.path-frontpage #block-views-block-event2-block-1 {
        background-color: #0d77b5;
    }

.path-frontpage #block-views-block-event2-block-1 .block__title {
            color: white;
        }

.path-frontpage .flexbox-unformatted {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 18px;
    }

@media (min-width: 1000px) {

.path-frontpage .flexbox-unformatted {
            flex-direction: row;
    }
        }

.path-frontpage .flexbox-unformatted li {
            list-style: none;
            width: 200px;
            border: 1px solid #e2e2e2;
            padding: 10px 16px;
        }

.path-frontpage ul.list-grid {
            margin-left: 1rem;
            margin-right: 1rem;
        }

@media (min-width: 1000px) {

.path-frontpage .list-grid {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-gap: 1rem;
    }
            .path-frontpage ul.list-grid {
                margin-left: 5rem;
                margin-right: 5rem;
            }
        }

.path-frontpage .list-grid.background-dark li {
                color: white;
            }

.path-frontpage .list-grid.background-dark li a {
                    color: white;
                }

.path-frontpage .list-grid li {
            list-style: none;
            border: 1px solid #e2e2e2;
            padding: 1.5rem 1rem;
            margin-bottom: 2rem;
        }

.path-frontpage .list-grid li .views-field-title {
                font-size: 1.5rem;
                font-weight: bold;
                padding-bottom: 0.5rem;
            }

.path-frontpage .list-grid li .views-field-body {
                padding-bottom: 0.5rem;
            }

.path-frontpage .list-grid li .views-field-field-event-date {
                font-size: 0.9rem;
            }

.path-frontpage .view-event2.view-display-id-block_1 .view-footer, .path-frontpage .view-announcements.view-display-id-block_1 .view-footer {
            text-align: center;
        }

@media (min-width: 1000px) {

.path-frontpage .layout--pass--content-medium .block-views-blockevent2-block-1,
        .path-frontpage .layout--pass--content-medium .block-views-blockannouncements-block-1 {
                grid-column: 1 / 15;
        }
            }

.site-header {
  padding-left: 5%;
  padding-right: 5%;
}

@media (min-width: 1200px) {

.site-branding__inner .site-branding__wrapper {
      height: calc(6 * 18px);
    }
      }

@media (min-width: 1200px) {

.site-branding__logo img {
        max-height: calc(calc(6 * 18px) - 18px);
    }
      }

/* From components/header-navigation.pcss */

@media (min-width: 1200px) {

body:not(.is-always-mobile-nav) .header-nav {
      height: calc(2 * 18px);
  }
    }

.button--primary_border_white {
    color: #fff;
    background-color: #0d77b5;
    border-color: #fff;
  }

.button--primary_border_white:hover {
      color: #fff;
      border-color: #fff;
      background-color: #0f6292;
    }

.button--primary_border_white:focus {
      color: #fff;
      border-color: #fff;
      background-color: #0f6292;
    }

.button--primary_border_white:active {
      color: #fff;
      background-color: #0d77b5;
    }

.button--primary_border_white:disabled {
      color: #fff;
      background-color: #d7e1e8;
    }

.button--primary_border_white.is-disabled {
      color: #fff;
      background-color: #d7e1e8;
    }
/*# sourceMappingURL=walnut-styles.css.map */