.button, .button--primary {
  border: solid 2px var(--color--purple);
  color: white;
  background-color: var(--color--purple);
}
.button, .button--primary {
  &:hover,
  &:focus {
  text-decoration: none;
  border: solid 2px var(--color--purple-1);
  background-color: var(--color--purple-1);
  }

  &:focus {
      outline: 2px solid var(--color--blue-70);
      outline-offset: 2px;
    }
  
  &:active {
      border-color: var(--color--purple);
    }
}

.button-secondary {
  border: solid 2px white;
  color: white;
  background-color: transparent;
  &:hover,
  &:focus {
    color: white;
    background-color: black;
    border: solid 2px white;
  }
}