@import "../base/variables.pcss.css";

/* Site Header */
.site-header {
  padding-left: 5%;
  padding-right: 5%;
}

/****** Secondary Menu Region ******/

.container.site-header__inner__container__walnut__secondaryMenu {
  margin-top: 1rem;
}

/* Put the menus in the secondary menu region on separate lines for small screens */
.region--secondary-menu {
  display: block;
  margin-bottom: 0;
}

@media (--md) {
  .region--secondary-menu {
    /* Keep the secondary nav always aligning to the left side of the page */
    justify-content: flex-end;
    /* Put the menus in the secondary menu region on one line for wider screens */
    display: flex;
  }
}

.secondary-nav {
  margin-inline-end: 2rem;
}

/* Remove the extra spacing between the secondary nav menus */
@media (min-width: 75rem) {
  [dir="ltr"] body:not(.is-always-mobile-nav) .secondary-nav {
    padding-left: 0;
    margin-left: 0;
  }
}

/* Make the secondary menu a little tighter against the right side of the page */
.container.site-header__inner__container__walnut__secondaryMenu {
padding-right: 0;
}

/****** Search region ******/

/* Remove margin at the bottom */
.region--search > * {
  margin-bottom: 0;
}

/* Line up the search button with the secondary menu */
.container.site-header__inner__container__walnut__search {
  padding-right: 12px;
}

/* Control height of region */
.region--search {
  height: 4rem;
}
@media (--md) {
  .region--search {
    height: 0.5rem;
  }
}

/* Control layout of search form elements */
#search-block-form {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  & .form-actions .button {
    margin-top: 0;
    margin-bottom: 0;
  }
  & .button {
    margin-top: 0;
    margin-bottom: 0;
  }
}

/* Make search form not so tall */
[type="search"], [value="search"] {
  min-height: 2.375rem;
}

.button.search-form__submit {
  height: 2.375rem;
}

/***** Logo, site name, slogan *****/

.site-header__inner__container {
  display: flex;
  justify-content: flex-start;
  padding-left: 0;
  padding-right: 0;
  display: block;
  margin-bottom: 1rem;
  @media (--md) {
    display: flex;
  }
}

/* Logo and site name outer wrapper */
.site-branding {
  display: block;
  margin-inline: calc(-1 * var(--container-padding)) var(--sp);
  padding-block: 0;
  padding-inline-start: var(--container-padding);
  padding-inline-end: 0;

  /* @todo - #0d7ab8 isn't currently a variable. */
  background-image: linear-gradient(160deg, var(--color--blue-50) 0%, #0d7ab8 78.66%);

  @media (--sm) {
    min-height: var(--sp4);
  }
  @media (--md) {
  }
  @media (--lg) {
  }
  @media (--nav) {
  }
  @media (--grid-max) {
  }
}

[dir="rtl"] .site-branding {
  background-image: linear-gradient(-160deg, var(--color--blue-50) 0%, #0d7ab8 78.66%);
}

.site-branding--bg-gray {
  background: var(--color--gray-95);
}

.site-branding--bg-white {
  background: var(--color--white);
}

/* Logo and site name inner */
.site-branding__inner {
  display: block;
  font-family: Alice, sans-serif;
  height: 72px;
  padding-top: 0;
  padding-bottom: 0;
  & .site-branding__wrapper {
    display: flex;
    align-items: flex-end;
   }
  @media (--lg) {
    
  }
  @media (--nav) {
    padding-inline-start: 0;
    padding-inline-end: 0;
    height: 90px;
    }
}

/* Logo */
.site-branding__logo {
  flex-shrink: 0;
  max-width: 100%;
  & img {
    width: auto;
    max-width: 100%;
    max-height: var(--sp3);
    @media (--md) {
      max-height: var(--sp4);
    }
    @media (--nav) {
      max-height: var(--sp5);
    }
  }
}

/* Site name wrapper */
.site-branding__text {
  padding-block-end: var(--sp);
  color: var(--color--gray-0);
  & a {
    color: inherit;
  }
  & a:hover {
    color: var(--color--green-hover);
  }
  /* Site name text size */
  & .site-branding__name {
    font-size: 3rem;
    line-height: 2.3rem;
  }
}

.site-branding--bg-gray .site-branding__text,
.site-branding--bg-white .site-branding__text {
  color: var(--color--green);
}

.site-branding__logo + .site-branding__text {
  margin-inline-start: 12px;
  padding-block-end: 0;
}

/* Site slogan */
#block-siteslogan {
  padding-left: 3px;
  align-self: flex-end;
}

.site-branding__slogan {
  color: var(--color--green);
  font-weight: bold;
  line-height: var(--line-height-s);
  font-family: Alice, sans-serif;
  }

/****** Site Navigation ******/

/* From components/header-navigation.pcss */
body:not(.is-always-mobile-nav) .header-nav {
  /* @media (--nav) {
    height: calc(2 * var(--sp));
  }
  height: calc(5 * var(--sp)); */
  height: 100%;
}
/* Keeps the .header-nav in view overriding olivero */
.header-nav {
  position: static;
  display: flex;
  visibility: visible;
  overflow: visible;
  align-items: center;
  justify-content: flex-end;
  max-width: none;
  /* height: var(--header-height-wide-when-fixed); */
  margin-block-start: auto;
  padding-block: 0;
  padding-inline-start: 0;
  padding-inline-end: 0;
  transition: transform 0.2s;
  transform: none;
  border-block-start: 0;
  box-shadow: none;
}
  /* From Olivero header-navigation.pcss.css */
body:not(.is-always-mobile-nav) .header-nav {
  @media (--nav) {
    position: static;
    display: flex;
    visibility: visible;
    overflow: visible;
    grid-column: 5 / 15;
    align-items: center;
    justify-content: flex-start; /* Changed from flex-end to flex-start */
    max-width: none;
    height: 3rem; /* Changed from var(--header-height-wide-when-fixed) */
    margin-block-start: auto;
    padding-block: 0;
    padding-inline-start: 0;
    padding-inline-end: 0;
    transition: transform 0.2s;
    transform: none;
    border-block-start: 0;
    box-shadow: none;
  }
}

/* From: Olivero site-header.pcss.css: Hide the desktop nav when it's fixed and not active. */
body:not(.is-always-mobile-nav) .site-header__fixable.is-fixed:not(.is-expanded) .site-header__inner {
  @media (--nav) {
    transform: translateX(0); /* LTR */
    opacity: 1;
  }
}

[dir="rtl"] body:not(.is-always-mobile-nav) .site-header__fixable.is-fixed:not(.is-expanded) .site-header__inner {
  @media (--nav) {
    transform: translateX(0);
  }
}


/* From Olivero site-header.pcss.css: stop the header from sticking to the top of the page */
@media (--nav) {
  body:not(.is-always-mobile-nav) {
    & .site-header__fixable.is-fixed {
      position: static; /* Changed to static so it doesn't stick to the top of the page when scrolling */
      z-index: 102; /* Appear above body content that is position: relative */
      inset-block-start: calc(-1 * var(--sp4));
      max-width: var(--max-bg-color);
    }
  }
}