/**
 * @file
 * Base Layout.
 */

@import "../base/variables.pcss.css";

.container {
  width: 100%;
  max-width: var(--max-width);
  padding-inline: var(--container-padding);

  @media (--nav) {
    padding-inline: var(--container-padding-nav);
  }
}

.region > #block-walnut-breadcrumbs {
  margin-bottom: 3rem;
  grid-column: 1 / 13;
  @media (--lg) {
    grid-column: 2 / 13;
  }
  @media (--nav) {
    grid-column: 1 / 13;
  }
}

.page-wrapper {
  max-width: var(--max-bg-color);
  background: var(--color--white);
  margin: 0 auto;
}

/* Contains the social sidebar, and the primary content area. */
.layout-main {
  @media (--nav) {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
  }
}

.main-content {
  @media (--nav) {
    width: calc(100% - var(--content-left));
    margin: 0 auto;
  }
}

.main-content__container {
  padding-block-start: var(--sp1);

  @media (--md) {
    padding-block-start: var(--sp1);
  }
}

footer {
  & .site-footer__inner.container {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}